{% extends 'main.html' %}
{% block content %}
<div class="home-hero">
    <h1 class="home-title">Welcome to RigForge Website</h1>
    <p class="home-description">Your one-stop solution for building custom PCs. Browse and buy top-quality components or use our PC builder to create your dream setup!</p>
    <a href="{% url 'build' %}" class="home-build-btn">Build PC</a>
</div>
<div class="home-buy-components">
    <h2 class="home-components-title">Buy Components Individually</h2>
    <div class="home-components-list">
        <a href="{% url 'components' %}?type=cpu" class="home-component-btn">CPU</a>
        <a href="{% url 'components' %}?type=gpu" class="home-component-btn">GPU</a>
        <a href="{% url 'components' %}?type=ram" class="home-component-btn">RAM</a>
        <a href="{% url 'components' %}?type=motherboard" class="home-component-btn">Motherboard</a>
        <a href="{% url 'components' %}?type=psu" class="home-component-btn">PSU</a>
        <a href="{% url 'components' %}?type=ssdstorage" class="home-component-btn">SSD Storage</a>
        <a href="{% url 'components' %}?type=hddstorage" class="home-component-btn">HDD Storage</a>
        <a href="{% url 'components' %}?type=case" class="home-component-btn">Case</a>
        <a href="{% url 'components' %}?type=cpucooler" class="home-component-btn">CPU Cooler</a>
    </div>
</div>
{% endblock content %}