{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}
<div class="login-container">
    <form method="POST" action="" class="login-form">
        {% csrf_token %}
        <label for="login-username" class="login-label">Username</label>
        <input type="text" name="username" id="login-username" class="login-input" placeholder="Enter Username"/>
        <label for="login-password" class="login-label">Password</label>
        <input type="password" name="password" id="login-password" class="login-input" placeholder="Enter Password"/>
        <input type="submit" value="Login" class="login-submit-btn">
    </form>
    <p class="login-register-link">Haven't signed up yet? <a href="{% url 'register' %}">Sign up</a></p>
</div>
{% else %}
<div class="register-container">
    <form method="POST" action="" class="register-form">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Register" class="register-submit-btn">
    </form>
    <p class="register-login-link">Already signed up? <a href="{% url 'login' %}">Login</a></p>
</div>
{% endif %}

{% endblock content %}